.violet-bg{
    background-color: rgb(83, 42, 122);
    color: white;
}
button.violet-bg:hover, .border-violet{
    border: 1px solid rgb(83, 42, 122);
    color: rgb(83, 42, 122);
    background-color: white;
}

.no-br{
    text-overflow: ellipsis;
    overflow: hidden;
}

a, button{
    letter-spacing: 1px;
    cursor: pointer;
}

p{
    margin: 0;
}

h1, h3{
    color: rgb(83, 42, 122);
    letter-spacing: 1px;
}
.soft-green-bg{
    background-color: rgba(54, 196, 29, 0.302);
    color: rgb(0, 0, 0);
}
.green-bg{
    background-color: rgb(54, 196, 29);
    color: white;
}
.green-bg:hover{
    border: 1px solid rgb(54, 196, 29);
    color: rgb(54, 196, 29);
    background-color: white;
}


/* navbar */
.navbar-brand:hover, .nav-link:hover{
    color: rgb(54, 196, 29) !important;
}

.card i, .bi-gear{
    color: rgb(83, 42, 122); 
    font-size: 1.4em;
}
.card i:hover, .bi-gear:hover{
    color: rgb(54, 196, 29); 
}

.soft-violet-bg:hover{
    background-color: rgba(83, 42, 122, 0.302);
    color: rgb(0, 0, 0);
}